* {
    color: aliceblue;
}

.myheader {
    background-color: #6f27ea;
}



.facebook {
    font-weight: bold;
    color: rgb(17, 100, 253); /**/
}

.instagram {
    color: #fc00d9;
}

.whatsapp {
    color: green;
}

main {
    display: flex;
    justify-content: center;
}

.ul {
    border-left: 2px solid #fc00d9;
}

ul li {
    list-style: none;
}

.space {
    padding: 5px;
}




@media (max-width: 600px) {

    .myheader a {
        font-size: 2rem;
        padding: 8px;
    }
}


/* MAPA */

.map-section {
  margin-top: 40px;
  width: 100%;
  height: 400px;
}
.map {
  width: 100%;
  height: 360px;
  border-radius: 14px;
  
}

